h1, p {
    color: black;
    background-color: #f397c8;
    margin: 5px;   
}
h1{
    text-transform: uppercase;
}
img {
    border: 10px solid red;
    width: 100%;
}
* {
    text-align: center;
    background-color: #f397c8;
}
.div {
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
}
 .redtext {
    color: red !important;
 }
p[draggable] {
    color: blue;
}
.changa {
  font-family: "Changa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}